{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load socialaccount %}

{% block title %}学内掲示板 - ログイン{% endblock %}

{% block active_login %}active{% endblock %}

{% block contents %}
<div class="container">
    <div class="row text-center">
        <div class="my-div-style">
            <h1>ログイン</h1>
            <br>
            <form method="post" action="{% url 'account_login' %}">
                {% csrf_token %}

                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
                {% endif %}

                <a href="{% provider_login_url 'google'%}?next=/" class="btn btn-primary">Googleアカウントでログイン</a>
                <br>
                <br>
                <a href="{% url 'board:index' %}" class="btn btn-secondary">トップページに戻る</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}