{% load static %}

<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>

        <meta name="keywords" content="">
        <meta name="description" content="">

        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="format-detection" content="">

        <link rel="stylesheet" href="#">
        {% block head %}{% endblock %}
    </head>
    <body>
        {% block header %}
        {% endblock %}

        <h1>学内掲示板</h1>
        {% block keijiban %}{% endblock %}
        
        {% block nav %}{% endblock %}

        {% block contents %}{% endblock %}

        <footer>
        </footer>
    </body>
</html>