{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}学内掲示板 - 掲示編集{% endblock %}

{% block active_post_list %}active{% endblock %}

{% block board-title %}
<h2>掲示編集ページ</h2>
{% endblock %}

{% block contents %}
<div class="container my-div-style">
    <div class="row">
        <form method="POST" enctype='multipart/form-data'>
            {% csrf_token %}
            <table class="table">
                <tbody>
                    <tr>
                        <th>
                            <label for="post_title">タイトル:</label>
                        </th>
                        <td>
                            {{ form.post_title | add_class:'form-control' }}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label for="id_board">掲示板:</label>
                        </th>
                        <td>
                            {{ form.board | add_class:'form-control' }}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label for="gradetags">学年:</label>
                        </th>
                        <td>
                            {{ form.gradetags | add_class:'form-control' }}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label for="departmenttags">学科:</label>
                        </th>
                        <td>
                            {{ form.departmenttags | add_class:'form-control' }}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label for="typetags">種別:</label>
                        </th>
                        <td>
                            {{ form.typetags | add_class:'form-control' }}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label for="post_overview">概要:</label>
                        </th>
                        <td>
                            {{ form.post_overview | add_class:'form-control' }}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label for="ended_at">掲載終了:</label>
                        </th>
                        <td>
                            <input id="ended_at" type="datetime-local" name="ended_at" class="form-control" value="{{ post.ended_at | date:"Y-m-d\TH:i" }}">
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label for="post_photo">写真:</label>
                        </th>
                        <td>
                            {{ form.post_photo | add_class:'form-control' }}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label for="post_upload">ファイル:</label>
                        </th>
                        <td>
                            {{ form.post_upload | add_class:'form-control' }}
                        </td>
                    </tr>
                </tbody>
            </table>
            <button class="btn btn-primary" type="submit">更新</button>
            <a class="btn btn-secondary ml-2" href="{% url 'board:post_detail' object.pk %}">キャンセル</a>
        </form>
    </div>
</div>
{% endblock %}