{% extends 'base.html' %}

{% load static %}

{% block title %}学内掲示板 - 掲示詳細{% endblock %}

{% block header %}
{% endblock %}

{% block board-title %}
<h2>掲示詳細ページ</h2>
{% endblock %}

{% block nav %}
{% endblock %}

{% block contents %}
<div class="container my-div-style">
    <div class="row">
        <div class="col-3 text-center">
            <strong>タイトル</strong>
        </div>
        <div class="col-9">
            {{ post.post_title }}
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-3 text-center">
            <strong>掲示板</strong>
        </div>
        <div class="col-9">
            {{ post.board }}
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-3 text-center">
            <strong>学年</strong>
        </div>
        <div class="col-9">
            {% for gradetags in post.gradetags.all %}
                {{ gradetags.name }},
            {% endfor %}
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-3 text-center">
            <strong>学科</strong>
        </div>
        <div class="col-9">
            {% for departmenttags in post.departmenttags.all %}
                {{ departmenttags.name }},
            {% endfor %}
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-3 text-center">
            <strong>種別</strong>
        </div>
        <div class="col-9">
            {% for typetags in post.typetags.all %}
                {{ typetags.name }}
            {% endfor %}
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-3 text-center">
            <strong>掲載開始日時</strong>
        </div>
        <div class="col-9">
            {{ post.started_at }}
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-3 text-center">
            <strong>掲載終了日時</strong>
        </div>
        <div class="col-9">
            {{ post.ended_at }}
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-3 text-center">
            <strong>概要</strong>
        </div>
        <div class="col-9">
            {{ post.post_overview | linebreaksbr }}
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-3 text-center">
            <strong>写真</strong>
        </div>
        <div class="col-3">
            {% if post.post_photo %}
            <img src="{{ post.post_photo.url }}" width="200" , height="200">
            {% endif %}
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-3 text-center">
            <strong>ファイル</strong>
        </div>
        <div class="col-3">
            {% if post.post_upload %}
            <a href="{{ post.post_upload.url }}">{{ post.file_name }}</a>
            {% endif %}
        </div>
    </div>

    <hr>
    
        <div class="row">
        <div class="col-3 text-center">
            <strong>投稿者</strong>
        </div>
        <div class="col-9">
            {{ post.user_name }}
        </div>
    </div>

    <hr>
    {% if request.user.is_staff %}
    <div class="text-center">
        <a class="btn btn-success mt-5 mb-3" href="{% url 'board:post_update' object.pk %}">編集</a>
        <a class="btn btn-danger mt-5 ml-2 mb-3" href="{% url 'board:post_delete' object.pk %}">削除</a>
    </div>
    {% endif %}
</div>

<section class="text-center">
    <br>
    {% if user.is_authenticated %}
    {% if request.user.is_staff %}
    <a href="{% url 'board:mypage' %}">マイページへ戻る</a>
    {% endif %}
    {% endif %}
    <br>
    <a href="{% url 'board:index' %}">トップページへ戻る</a>
</section>
{% endblock %}
